
@import "../base/config"
@import "../base/mixins"
@import "../base/range-slider"

body
  background-color: $color--black

section
  width: 100%

.fringe
  height: 100vh
  position: relative
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column
  background:
    color: $color--black
    size: fill
    position: center
    repeat: no-repeat
  padding:
    left: $horizontal-spacing--normal
    right: $horizontal-spacing--normal

  @media #{$device--iphone}
    height: calc(100vh - 60px)

  @media #{$device--ipad}
    height: calc(100vh - 60px)

.name
  @extend %no-select
  position: relative
  color: $color--off-white
  font-weight: bold
  text:
    transform: uppercase
    align: center
    shadow: 1px 1px 2px rgba(0,0,0,0.2)
  letter-spacing: 0.3em

  &.m-red,
  &.m-blue
    position: absolute
    left: 0
    right: 0
    text-shadow: 0

  &.m-red
    color: $color--red
    text-shadow: 1px 1px 8px rgba($color--red, 0.5)

  &.m-blue
    color: $color--blue
    text-shadow: 1px 1px 8px rgba($color--blue, 0.5)

.title
  color: $color--off-white
  position: absolute
  bottom: $vertical-spacing--large * 2 + $button-height / 2
  left: 0
  right: 0
  margin-bottom: 0
  text-align: center
  line-height: $font-size--normal
  font:
    family: $serif
    weight: normal
  border-bottom: 0

  @media #{$device--small}
    bottom: $vertical-spacing--large * 2 + $button-height--mobile / 2

.social
  position: absolute
  bottom: $vertical-spacing--large
  left: 0
  right: 0
  margin: auto

  @media #{$device--small}
    justify-content: center
  
  &--option
    color: $color--black
    background-color: $color--white
    border: 0

    @media #{$device--small}
      width: calc(50% - 0.75rem)

      + .social--option
        margin-left: $horizontal-spacing--small

.table-image
  &--container
    position: relative
    width: 100%

  &--background
    display: block
    width: 100%

  &--animation
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    margin: auto

    @media #{$device--xlarge}
      height: 160px
      bottom: 30px

    @media #{$device--large}
      height: 130px
      bottom: 20px

    @media #{$device--medium}
      height: 100px
      bottom: 20px

    @media #{$device--small}
      height: 12vw
      bottom: 10px


.section
  position: relative
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  padding:
    top: $vertical-spacing--large * 3
    bottom: $vertical-spacing--large * 3

  @media #{$device--small}
    padding:
      top: $vertical-spacing--large
      bottom: $vertical-spacing--large
      left: 0
      right: 0

  &--title-bar
    display: flex
    align-items: center
    justify-content: space-between
    width: 100%
    display: none
      
  &--title
    flex-grow: 1
    color: $color--dark-gray

  &--cta
    margin-top: $vertical-spacing--small
    width: 100%

    @media #{$device--small}
      width: calc(100% - 1rem)
      margin:
        left: $horizontal-spacing--small
        right: $horizontal-spacing--small

.social--option
  color: $color--black
  background-color: $color--white

@import "../partials/index_photography"
