
@import "../base/config"
@import "../base/mixins"

.photo
  display: flex
  height: 100%
  align-items: center

  &--top
    display: flex
    align-items: center
    padding:
      top: $vertical-spacing--small
      bottom: $vertical-spacing--small

  &--back-navigation
    width: 180px

  &--image
    max-height: 80vh
    width: 100%
    object-fit: contain
    object-position: center
    margin-bottom: $vertical-spacing--small
    display: none

    &.s-active
      display: block

  &--meta
    flex-shrink: 0
    display: flex
    padding:
      top: $vertical-spacing--normal
      bottom: $vertical-spacing--normal

  &--description
    margin-right: $horizontal-spacing--small
    flex-grow: 1
    color: $color--black

  &--description-body
    color: $color--dark-gray

  &--title
    margin:
      left: $horizontal-spacing--normal
      bottom: 0

    &.m-mobile
      display: none
      margin-left: 0


.toggle-comparison
  display: flex
  justify-content: center

  &--toggle
    width: 200px

    &.s-active
      color: $color--gray
      background-color: transparent
      pointer-events: none
      cursor: not-allowed

    + .toggle-comparison--toggle
      margin-left: $horizontal-spacing--small

@media #{$device--small}
  .photo
    &--back-navigation
      width: 100%

    &--container
      padding: 0

    &--image
      margin-bottom: 0
      max-height: initial

      &.m-transparent
        width: calc(100% - #{$horizontal-spacing--small * 2})
        margin: 0 $horizontal-spacing--small

    &--meta
      flex-direction: column

    &--description
      margin:
        right: 0
        bottom: $vertical-spacing--xsmall

    &--title
      display: none

      &.m-mobile
        display: initial
  
  .toggle-comparison
    padding: $vertical-spacing--small $horizontal-spacing--small

    &--toggle
      width: 50%

  .social--option
    width: 50%
