
@import "../base/config"
@import "../base/mixins"

$image-spacing: 1rem

.invisible
  display: none
  visibility: hidden
  opacity: 0

.photos
  padding-bottom: 2rem

  @media #{$device--small}
    padding:
      left: 0
      right: 0

  &--layout
    position: relative
    width: 100%

.photo
  +transition(all 0.15s ease-in-out)
  position: absolute
  display: block
  background:
    size: 100%
    position: center
    repeat: no-repeat

  @media #{$device--small}
    position: relative
    width: 100%
    margin-bottom: 2px

.title
  +transition(all 0.3s ease-in-out)
  pointer-events: none
  font-family: $serif
  font-size: 0.9rem
  letter-spacing: 0.25em
  text-transform: uppercase
  color: $color--white
  position: absolute
  bottom: 0.5rem
  padding: 0.5rem 0.5rem
  min-height: 2rem
  display: flex
  align-items: center
  opacity: 0
  background-color: $color--black

  @media #{$device--small}
    display: none
    bottom: 0
    left: 0
    right: 0
    padding: 0.25rem 0.5rem
    min-height: 1.5rem

  .photo:hover & 
    opacity: 1
    transform: translateX(0)

  &.m-left
    left: -0.5rem
    justify-content: flex-end
    text-align: right
    transform: translateX(-0.25rem)
    margin-right: 0.5rem

  &.m-right
    right: -0.5rem
    transform: translateX(0.25rem)
    margin-left: 0.5rem

  &.m-bottom
    opacity: 1
    justify-content: center
