
%footer.footer.container
  .footer--logo.icon--logo
  .footer--navigation
    %label Work
    = link_to "Photography", photography_path, :class => "footer--link"
  .footer--social
    .social--option(data-menu-toggle="follow")
      .social--option-content.m-icon.icon--connect
      .social--option-content Follow
      
    .social--option(data-menu-toggle="contact")
      .social--option-content.m-icon.icon--contact
      .social--option-content Contact