
- description = "Knowledge of Graphic Design is valuable in all facets of design, as it teaches a designer how to create order, balance, and beauty in a design."

%section.section
  = render "partials/index_section_copy", :locals => { :number => "05", :title => "Graphic Design", :description => description, :path => graphic_design_path, :icon => "graphic-design" }
  
  = image_tag "https://d2vez5w0ugqe83.cloudfront.net/index/graphic-design.svg", :class => "section--image"
  
  = link_to "Graphic Design", graphic_design_path, :class => "button m-black m-mobile section--cta"
