
- description = "Graphic design can teach skills that reach far beyond just graphics. It teaches a designer how to create order, balance, and beauty in their designs.<br/><br/>Through it, I have continuously improved my ability to organize information, set type so it's both readable and aesthetically pleasing, and compose layouts in a way that's both beautiful and functional."

- image_el = capture_haml do
  = image_tag "https://d2vez5w0ugqe83.cloudfront.net/index/graphic-design.svg", :class => "section--image"

= render "partials/index_section", :locals => { :number => "05", :title => "Graphic Design", :description => description, :path => graphic_design_path, :icon => "graphic-design", :image_el => image_el }
