
%section.container.section
  = image_tag "https://d2vez5w0ugqe83.cloudfront.net/index/illustration.png", :width => "100%"
  = link_to "Illustration", illustration_path, :class => "button m-black section--cta"
