
%section.container.section
  .table-image--container
    = image_tag "https://d2vez5w0ugqe83.cloudfront.net/index/table.png", :class => "table-image--background"
    = image_tag "https://d2vez5w0ugqe83.cloudfront.net/index/table-animation.gif", :class => "table-image--animation"
  
  = link_to "Table.co", table_path, :class => "button m-black section--cta"
