
%section.container.section
  .divider
  .section--title-bar
    %h1.section--title Table.co
    = link_to table_path, :class => "button m-blue section--cta m-before" do
      View Gallery

  = link_to table_path, :class => "button m-blue section--cta m-after" do
    View Gallery
