
- description = "Photography is incredibly important to me. The pivotal moment I decided to be a creative professional was in High School. Over four years, I learned to use Photoshop and Illustrator, and how to capture and compose images. I illustrated my first digital paintings, and even created composite images to drive narratives in my work. <br/><br/>I felt limitless, and that feeling has continued with me. Photography places me within the moment, and allows me to connect with the world from a perspective I wouldn't otherwise know."

- image_el = capture_haml do
  .viewfinder
    .viewfinder--top
      .viewfinder--top-icon.icon--viewfinder--fhd-60
      .viewfinder--top-time
        %span 12
        %small m
        %span 36
        %small s
      .viewfinder--chip
        .icon--viewfinder--chip-1
        .icon--viewfinder--arrow-up
      .viewfinder--chip
        .icon--viewfinder--chip-2
      .viewfinder--top-icon.icon--viewfinder--l
      .viewfinder--top-icon.icon--viewfinder--n

    .viewfinder--image-container
      = image_tag "https://d2vez5w0ugqe83.cloudfront.net/index/photography/background.png", class: "viewfinder--image-layer", :"js-parallax" => "background"
      = image_tag "https://d2vez5w0ugqe83.cloudfront.net/index/photography/midground.png", class: "viewfinder--image-layer", :"js-parallax" => "midground"
      = image_tag "https://d2vez5w0ugqe83.cloudfront.net/index/photography/foreground.png", class: "viewfinder--image-layer m-foreground", :"js-parallax" => "foreground"

      .viewfinder--exposure-overlay(js-viewfinder-exposure)

      .viewfinder--overlay(js-viewfinder-overlay)
        .viewfinder--overlay-grid.m-vertical
          .viewfinder--overlay-line
          .viewfinder--overlay-line
          .viewfinder--overlay-line
          .viewfinder--overlay-line
          .viewfinder--overlay-line
          .viewfinder--overlay-line

        .viewfinder--overlay-grid.m-horizontal
          .viewfinder--overlay-line
          .viewfinder--overlay-line
          .viewfinder--overlay-line.m-green
          .viewfinder--overlay-line

        .viewfinder--center

        .viewfinder--exposure
          .viewfinder--exposure-icon.icon--viewfinder--exposure
          
          .viewfinder--frames-icon.icon--viewfinder--frames

          .viewfinder--exposure-notch.m-labeled
            .viewfinder--exposure-notch-label 3
          .viewfinder--exposure-notch
          .viewfinder--exposure-notch
          .viewfinder--exposure-notch.m-labeled
            .viewfinder--exposure-notch-label 2
          .viewfinder--exposure-notch
          .viewfinder--exposure-notch
          .viewfinder--exposure-notch.m-labeled
            .viewfinder--exposure-notch-label 1
          .viewfinder--exposure-notch
          .viewfinder--exposure-notch
          .viewfinder--exposure-notch.m-labeled
            .viewfinder--exposure-notch-label 0
          .viewfinder--exposure-notch
          .viewfinder--exposure-notch
          .viewfinder--exposure-notch.m-labeled
            .viewfinder--exposure-notch-label -1
          .viewfinder--exposure-notch
          .viewfinder--exposure-notch
          .viewfinder--exposure-notch.m-labeled
            .viewfinder--exposure-notch-label -2
          .viewfinder--exposure-notch
          .viewfinder--exposure-notch
          .viewfinder--exposure-notch.m-labeled
            .viewfinder--exposure-notch-label -3

          %input(type="range" min="0" max="16" value="0" js-slider="exposure" orient="vertical" class="viewfinder--exposure-input--original")

        .viewfinder--right
          .icon--viewfinder--v-film
          .icon--viewfinder--dr-200

        .viewfinder--focus
          .viewfinder--focus-labels
            .viewfinder--focus-label.m-small 0.1
            .viewfinder--focus-label.m-medium 0.5
            .viewfinder--focus-label 1.0
            .viewfinder--focus-label 2.0
            .viewfinder--focus-label 3.0
            .viewfinder--focus-label 5.0
            .viewfinder--focus-label 10
            .viewfinder--focus-label.m-medium 20
            .viewfinder--focus-label.m-small
              %span.m-infinity ∞
              %span.m-subscript m
          %input(type="range" min="0" max="100" value="80" js-slider="focus")

        .viewfinder--icon-manual-focus.icon--viewfinder--manual-focus

        
    .viewfinder--bottom
      .viewfinder--bottom-icon.m-m.m-large.icon--viewfinder--m
      .viewfinder--bottom-icon.m-large.icon--viewfinder--brackets
      .viewfinder--bottom-icon.m-shutter-speed.icon--viewfinder--shutter-speed
      .viewfinder--bottom-text.m-large.m-blue 1000
      .viewfinder--bottom-text.m-small.m-blue F
      .viewfinder--bottom-text.m-large.m-blue 5.6
      .viewfinder--bottom-icon.m-exposure.icon--viewfinder--exposure
      .viewfinder--bottom-text.m-plus +
      .viewfinder--bottom-text.m-large 1.0
      .viewfinder--bottom-text.m-small ISO
      .viewfinder--bottom-text.m-large 400
      .viewfinder--icon-battery.icon--viewfinder--battery

= render "partials/index_section", :locals => { :number => "01", :title => "Table.co", :description => description, :path => table_path, :icon => "table", :image_el => image_el }
