
%section.container.section
  = image_tag "https://d2vez5w0ugqe83.cloudfront.net/index/graphic-design.svg", :width => "100%"
  = link_to "Graphic Design", graphic_design_path, :class => "button m-black section--cta"
