
- description = "Illustration gives me the ability to communicate new ideas or invent new worlds purely from the imagination. Impossible situations, places, and ideas can be created at my will.<br/><br/>Illustration taught me to be detail-oriented, and through that, I discovered the incredible feeling of completing a piece after weeks of hard work."

%section.section
  = render "partials/index_section_copy", :locals => { :number => "03", :title => "Illustration", :description => description, :path => illustration_path, :icon => "illustration" }
  
  = image_tag "https://d2vez5w0ugqe83.cloudfront.net/index/illustration.png", :class => "section--image"
  
  = link_to "Illustration", illustration_path, :class => "button m-black m-mobile section--cta"
