
- description = "My original major in college, Illustration remains a great way to both hone my creative skills, as well as to relax."

%section.section
  = render "partials/index_section_copy", :locals => { :number => "03", :title => "Illustration", :description => description, :path => illustration_path }
  
  = image_tag "https://d2vez5w0ugqe83.cloudfront.net/index/illustration.png", :class => "section--image"
  
  = link_to "Illustration", illustration_path, :class => "button m-black m-mobile section--cta"
