
%section.container.section
  = image_tag "https://d2vez5w0ugqe83.cloudfront.net/index/osx.png", :width => "100%"
  = link_to "OS X 'Everest' Concept", osx_path, :class => "button m-black section--cta"
