
%section.container.section
  .table-image--container
    = image_tag "table.png", :width => "100%"
    = image_tag "table-animation.gif", :class => "table-image--animation"
  
  = link_to "Table.co", table_path, :class => "button m-black section--cta"
