
= javascript_include_tag 'application'
= yield :scripts

-# Social scripts
= javascript_include_tag "//platform.twitter.com/widgets.js", :async => "true", :charset => "utf-8"

:javascript
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1109924649062219',
      xfbml      : true,
      version    : 'v2.7'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));

= render "utilities/analytics"
