
$ink--size: 300px

.button
  @extend %no-select
  transition: all 0.3s ease-in-out
  font:
    family: $sans-serif
    size: $font-size--small
    weight: normal
  text:
    transform: uppercase
    decoration: none
  letter-spacing: 0.18em
  line-height: 1em
  overflow: hidden
  position: relative
  display: flex
  align-items: center
  justify-content: center
  flex-shrink: 0
  height: $button-height
  padding:
    left: $font-size--small * 2
    right: $font-size--small * 2
  cursor: pointer
  border-radius: 3px

  .wf-active &
    font-family: $sans-serif

  @media #{$device--small}
    $button--font-size: 1rem
    height: $button-height--mobile
    font-size: $font-size--small
    line-height: 1em
    padding:
      left: $font-size--small * 2
      right: $font-size--small * 2

  &.m-black
    color: $color--white
    background-color: $color--black

    &:visited
      color: $color--white
      background-color: $color--black

    &:active
      color: $color--white

    .button--ink
      background-color: $color--white

  &.m-white
    color: $color--black
    background-color: $color--white

    &:visited
      color: $color--black
      background-color: $color--white

    &:active
      color: $color--black

    .button--ink
      background-color: $color--black


  &.m-blue
    color: $color--white
    background-color: $color--blue
    box-shadow: 0 0 10px rgba($color--blue, 0.3)

    &:active
      color: $color--white

    &:hover
      background-color: darken($color--blue, 5%)

    &:active
      background-color: darken($color--blue, 8%)

    .button--ink
      background-color: adjust-hue($color--blue, -15deg)

  &.m-transparent
    color: $color--black
    border: 3px solid $color--black
    background-color: transparent
    text-shadow: none
    box-sizing: border-box

    &:active
      color: $color--blue

    &:hover
      background-color: rgba($color--black, 0.1)

    &:active
      background-color: rgba($color--gray, 0.15)

    .button--ink
      background-color: adjust-hue($color--blue, -15deg)

  &.m-wide
    width: 100%

  &--ink-container
    position: absolute
    display: flex
    align-items: center
    justify-content: center
    transform: scale(1)
    width: $ink--size
    height: $ink--size
    pointer-events: none
    z-index: 1

  &--ink
    opacity: 0
    width: $ink--size
    height: $ink--size
    animation:
      name: ink-drop
      duration: 0.5s
    border-radius: 100%

@keyframes ink-drop
  0%
    transform: scale(0.05)
    opacity: 1

  100%
    transform: scale(1)
    opacity: 0
