
$color--black:      #111111
$color--dark-gray:  #333333
$color--gray:       #ABB1B7
$color--light-gray: #eaeaea
$color--off-white:  #F5F5F5
$color--white:      #fbfbfb

$color--red:        #EF4C43
$color--blue:       #35B6EF
$color--yellow:     #EFC050

$device--small:    "screen and (max-width: 768px)"
$device--medium:   "screen and (max-width: 992px)"
$device--medium:   "screen and (max-width: 1170px)"

$sans-serif: Helvetica, Arial, sans-serif
$sans-serif--title: "Museo Sans", Helvetica, Arial, sans-serif
$serif: "Lora", Garamond, serif
