=font-face($font-family, $file-path, $font-weight, $font-style)
  @font-face
    font-family: $font-family
    src: font-url($file-path)
    font-weight: $font-weight
    font-style: $font-style

+font-face("Museo Sans", "museo_sans/500.ttf", normal, normal)
+font-face("Museo Sans", "museo_sans/900.ttf", bold, normal)

// Icon font
+font-face("icons", "icons/font/icons.ttf", normal, normal)
