
.gallery-intro
  position: relative
  padding:
    top: $vertical-spacing--small
    bottom: $vertical-spacing--medium

  &--title
    margin-top: $vertical-spacing--normal
    color: $color--dark-gray

    @media #{$device--small}
      margin-top: $vertical-spacing--medium

  &--body
    color: $color--dark-gray

  &--top
    display: flex
    justify-content: flex-start
    align-items: center

    @media #{$device--small}
      flex-direction: column

  &--back
    width: 180px
    margin-right: $horizontal-spacing--normal

    @media #{$device--small}
      width: 100%
      margin-right: 0

  &--about
    @media #{$device--small}
      display: none

.gallery-section
  $even: ".gallery-section:nth-child(even) &"
  $odd: ".gallery-section:nth-child(odd) &"
  display: flex
  align-items: center
  padding:
    top: $vertical-spacing--large
    bottom: $vertical-spacing--large

  @media #{$device--small}
    flex-direction: column
    justify-content: flex-start

  &--image
    display: flex
    flex-shrink: 0

    #{$even}
      order: 1

    #{$odd}
      order: 2

    &.m-transparent
      @media #{$device--small}
        margin:
          top: $vertical-spacing--large
          bottom: $vertical-spacing--large

  &--description
    display: flex
    flex-direction: column
    flex-grow: 1
    align-items: center
    justify-content: center
    position: relative
    z-index: 1
    padding: $vertical-spacing--normal $horizontal-spacing--normal

    #{$odd}
      order: 1
      padding-left: 0

    #{$even}
      order: 2
      padding-right: 0

    @media #{$device--small}
      position: static
      flex-grow: 0
      
      #{$even}, #{$odd}
        padding:
          left: 0
          right: 0

      #{$odd}
        order: 2

  &--title
    text-align: left
    width: 100%
    margin-top: $vertical-spacing--small

  &--cta
    width: 100%
