
.gallery-intro
  position: relative
  padding:
    top: $vertical-spacing--small
    bottom: $vertical-spacing--medium

  &--title
    margin:
      top: 0
      bottom: 0
    color: $color--dark-gray

  &--body
    color: $color--dark-gray

  &--top
    display: flex
    justify-content: flex-start
    align-items: center

  &--back
    width: 180px
    margin-right: $horizontal-spacing--normal

  + .gallery-section
    padding-top: 0


$even: ".gallery-section:nth-child(even) &"
$odd: ".gallery-section:nth-child(odd) &"

.gallery-section
  display: flex
  align-items: center
  padding:
    top: $vertical-spacing--large * 2
    bottom: $vertical-spacing--large * 2

  &--image
    display: flex
    flex-shrink: 0

    #{$even}
      order: 1

    #{$odd}
      order: 2

  &--description
    display: flex
    flex-direction: column
    flex-grow: 1
    flex-shrink: 0
    align-items: center
    justify-content: center
    position: relative
    z-index: 1
    padding: $vertical-spacing--normal $horizontal-spacing--normal

    #{$odd}
      order: 1
      padding-left: 0

    #{$even}
      order: 2
      padding-right: 0

  &--title
    text-align: left
    width: 100%
    margin-top: $vertical-spacing--small

  &--cta
    width: 100%


@media #{$device--small}
  .gallery-intro
    &--title
      text-align: left
      width: 100%
      margin:
        top: $vertical-spacing--medium
        bottom: 0

    &--top
      flex-direction: column

    &--back
      width: 100%
      margin-right: 0
    
    &--about
      display: none

  .gallery-section
    flex-direction: column
    justify-content: flex-start

    &.m-transparent
      margin:
        top: $vertical-spacing--large
        bottom: $vertical-spacing--large

    &--description
      position: static
      flex-grow: 0
      
      #{$even}, #{$odd}
        padding:
          left: 0
          right: 0

      #{$odd}
        order: 2
