
.container
  display: block
  box-sizing: border-box
  padding:
    left: 0.5rem
    right: 0.5rem

@media (min-width: 768px)
  .container
    padding:
      left: calc( (100% - 768px - 1rem) / 2 )
      right: calc( (100% - 768px - 1rem) / 2 )

@media (min-width: 992px)
  .container
    padding:
      left: calc( (100% - 992px - 1rem) / 2 )
      right: calc( (100% - 992px - 1rem) / 2 )

@media (min-width: 1170px)
  .container
    padding:
      left: calc( (100% - 1170px - 1rem) / 2 )
      right: calc( (100% - 1170px - 1rem) / 2 )
