
.container
  display: block
  box-sizing: border-box
  padding:
    left: 10px
    right: 10px

@media (min-width: 768px)
  .container
    padding:
      left: calc( (100% - 750px) / 2 )
      right: calc( (100% - 750px) / 2 )

@media (min-width: 992px)
  .container
    padding:
      left: calc( (100% - 970px) / 2 )
      right: calc( (100% - 970px) / 2 )

@media (min-width: 1170px)
  .container
    padding:
      left: calc( (100% - 1148px) / 2 )
      right: calc( (100% - 1148px) / 2 )
