
.container
  display: block
  box-sizing: border-box

  @media #{$device--small}
    padding:
      left: $horizontal-spacing--small
      right: $horizontal-spacing--small

  @media #{$device--medium}
    padding:
      left: calc( (100vw - #{$container-width--medium}) / 2 )
      right: calc( (100vw - #{$container-width--medium}) / 2 )

  @media #{$device--large}
    padding:
      left: calc( (100vw - #{$container-width--large}) / 2 )
      right: calc( (100vw - #{$container-width--large}) / 2 )

  @media #{$device--xlarge}
    padding:
      left: calc( (100vw - #{$container-width--xlarge}) / 2 )
      right: calc( (100vw - #{$container-width--xlarge}) / 2 )


.page-intro
  position: relative
  margin-bottom: $vertical-spacing--medium
  display: flex
  justify-content: flex-start
  align-items: center
  border-bottom: 1px solid $color--light-gray
  padding:
    top: $vertical-spacing--small
    bottom: $vertical-spacing--small

  &--title
    flex-grow: 2
    text-align: right
    margin:
      top: 0
      bottom: 0
    color: $color--black

  &--back
    min-width: 180px
    margin-right: $horizontal-spacing--normal

  + .gallery-section
    padding-top: 0


@media #{$device--small}
  .page-intro
    flex-direction: column
    border-bottom: 0
    padding-bottom: 0
    margin-bottom: $vertical-spacing--normal
    
    &--title
      text-align: center
      margin-top: $vertical-spacing--normal

    &--back
      margin-right: inherit
      width: 100%
