
=transition($args...)
  -webkit-transition: $args
  -moz-transition: $args
  -ms-transition: $args
  -o-transition: $args
  transition: $args

%no-select
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none

=box-shadow($args...)
  -moz-box-shadow: $args
  -webkit-box-shadow: $args
  box-shadow: $args

=border-radius()
  -moz-border-radius: 4pt
  -webkit-border-radius: 4pt
  border-radius: 4pt

  @media #{$device--small}
    -moz-border-radius: 8pt
    -webkit-border-radius: 8pt
    border-radius: 8pt

=keyframes($name)
  @-webkit-keyframes #{$name}
    @content
  @-moz-keyframes #{$name}
    @content
  @-ms-keyframes #{$name}
    @content
  @keyframes #{$name}
    @content
