
.modal
  +transition(opacity 0.15s ease-out)
  position: fixed
  z-index: 1
  top: 0
  bottom: 0
  left: 0
  right: 0
  opacity: 0
  pointer-events: none

  &.s-active
    opacity: 1
    pointer-events: initial

  &--background
    position: absolute
    z-index: 1
    top: 0
    bottom: 0
    left: 0
    right: 0
    background-color: rgba($color--black, 0.05)

  &--container
    +transition(opacity 0.15s ease-out, transform 0.15s ease-in-out)
    height: 100%
    width: 100%
    position: relative
    z-index: 2
    display: flex
    align-items: center
    justify-content: center
    transform: translateY(-25px)

    .s-active &
      transform: translateY(0)

  &--window
    +border-radius
    background-color: rgba($color--white, 0.95)
    overflow: hidden
    box-shadow: $box-shadow

    @media #{$device--small}
      border-radius: 8pt
    
  &--content,
  &--close
    padding: $vertical-spacing--normal $horizontal-spacing--small

  &--close
    +transition(background-color 0.15s ease-out)
    border-top: 1px solid rgba($color--black, 0.1)
    white-space: nowrap
    font-family: $sans-serif
    cursor: pointer
    color: $color--red
    text-align: center

    &:hover
      background-color: darken($color--white, 3%)
      color: darken($color--red, 5%)

    &:active
      background-color: darken($color--white, 5%)
      color: darken($color--red, 5%)

    &:first-child
      border-top: 0
