
.rangeSlider,
.rangeSlider__fill
  background-color: $color--white
  display: block
  height: 1px
  width: 100%

.rangeSlider
  position: relative

  &.viewfinder--exposure-input
    position: absolute

.viewfinder--exposure-input
  height: 100px
  background-color: transparent

  .rangeSlider__handle
    // Remove
    background-color: $color--white
    width: 5px
    height: 5px

.rangeSlider__handle
  cursor: pointer
  display: inline-block
  position: absolute
  z-index: 3

  .viewfinder--focus-input &
    background-color: $color--white
    width: 3px
    height: 8px
    bottom: 100%

    &:before,
    &:after
      content: ""
      position: absolute
      top: 0
      bottom: 0
      width: 25px
      background-color: saturate($color--blue, 20%)
    
    &:before
      right: 100%

    &:after
      left: 100%

.rangeSlider__buffer
  z-index: 1
  position: absolute
  top: 3px
  height: 14px
  background: #2c3e50
  border-radius: 10px