
@import "base/mixins"
@import "base/config"
@import "base/fonts"
@import "base/icons"
@import "base/typography"
@import "base/layout"
@import "base/buttons"
@import "base/modals"

@import "partials/share"

*, *:before, *:after
  box-sizing: inherit

html
  box-sizing: border-box

body
  margin: 0
  padding: 0
  overflow-x: hidden
