
- content_for :page_style do "graphic_design" end
- content_for :scripts do
  = javascript_include_tag "pages/graphic_design"

- description = "Knowledge of Graphic Design is valuable in all facets of design, as it teaches a designer how to create order, balance, and beauty in a design."

= render "partials/gallery", :collection => @graphics, :locals => { :title => "Graphic Design", :description => description }

