
- content_for :head do
  = stylesheet_link_tag "pages/illustration", media: "all"

- description = "My original major in college, Illustration remains a great way to both hone my creative skills, as well as to relax."

= render "partials/gallery", :collection => @illustrations, :locals => { :title => "Illustration", :description => description }
