
.container.page-intro
  .page-intro--top
    = link_to root_path, :class => "button m-black page-intro--back" do
      %span.icon--arrow--left
      Home

  %h1.page-intro--title Illustration
  %p.page-intro--body My original major in college, Illustration remains a great way to both hone my creative skills, as well as to relax. 
