
- content_for :page_style do "illustration" end

- description = "My original major in college, Illustration remains a great way to both hone my creative skills, as well as to relax."

= render "partials/gallery", :collection => @illustrations, :locals => { :title => "Illustration", :description => description }
