- content_for :head do
  = stylesheet_link_tag "pages/index", media: "all", "data-turbolinks-track" => true

- content_for :scripts do
  = javascript_include_tag "pages/index", "data-turbolinks-track" => true

%section.fringe
  %h1
    .name.m-red(js-fringe="red") Dave Scott McCarthy
    .name.m-blue(js-fringe="blue") Dave Scott McCarthy
    .name(js-fringe="base") Dave Scott McCarthy

  %h3.title Designer & Developer
  .social
    .social--option(js-pop--toggle="follow")
      .social--option-content
        .social--option-icon.icon--connect
        %div Follow
      
    .social--option(js-pop--toggle="contact")
      .social--option-content
        .social--option-icon.icon--contact
        %div Contact

= render "partials/index_photography"

%section.table
  %h1.table--title TABLE.co
  .table--body
    %p Non quis reprehenderit est cillum quis et enim aute amet veniam excepteur ea exercitation magna. Minim sint ad proident dolore. Quis amet adipisicing labore consectetur ea cillum aliquip ea laborum. Labore pariatur cillum quis esse commodo magna et enim id excepteur deserunt aliquip.
