
- content_for :page_style do "osx" end

- description = "With the impending release of OS X 10.10 (codename 'Syrah') at WWDC, the operating system was expected to have an updated look, more closely in line with the aesthetic that iOS 7 brought to the iPhone. This time around, I decided to take a stab at a conceptual redesign of the then current Mac operating system."

= render "partials/gallery", :collection => @mockups, :locals => { :title => "OS X 10.10 'Everest'", :description => description }
