
- content_for :page_style do "table" end

- description = "Table is a product designed to connect people with mentors through it's communication platform. As the lead designer, I worked with the team to bring consistency, and usability to our product and our brand. I worked on the design, direction, and development of the product, as well as started to build the design team."

= render "partials/gallery", :collection => @examples, :locals => { :title => "Table.co", :description => description }

-# .container
-#   %div Public Tables Sidebar
-#   %div New Homepage
-#   %div Media Viewer w/ Comments
-#   %div Dashboard


